body{
    font-family:'Times New Roman', Times, serif;
    color: #000;
}

.container-fluid{
    padding-left:10%;
    padding-right:10%;
}

main{
    padding:5%;
    border-left:1px solid #F1EEE3;
    border-right:1px solid #F1EEE3;
    width:100%;
    background: #f6f5f0;
}

a{
    text-decoration: none;
    color:#000;
}

.title{
    text-decoration: underline;
}

.card{
    border-radius:0px!important;
    border-color: #F1EEE3!important;
    transition: all 0.1s ease-in-out;
}

#portfolio .card:hover, #social .card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: -5px;
    margin-left: -5px;
}